<% layout('base') %>

<h1>OpenAG Servers</h1>
<p>To get our reaction <b>FAST</b> and our wallgausses <b>GOOD AND PRECISE</b> the decision to host servers of cybersports discipline <b>OpenAG</b> was made. </p>
<div class="server-holder">
    <div class="server-left">
        <h2>Free For All</h2>
        <img class="server-preview" src="image/ffa.png">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">theheartofakatosh.ddns.net:27067<span>connect theheartofakatosh.ddns.net:27067; password 2281337</span><img class="arrow reverse" src="..\image/arrow.gif"></a>
    </div>
    <div class="server-right">
        <h2>Last Team Standing</h2>
        <img class="server-preview" src="image/lts.png">       
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">theheartofakatosh.ddns.net:27068<span>connect theheartofakatosh.ddns.net:27068; password 2281337</span><img class="arrow reverse" src="..\image/arrow.gif"></a>
    </div>
</div>
<p>And always remember...</p>
<a class="playag" href="https://openag.pro/"><img src="image/playag.png"></a>
<hr>
<div class="copy-message">
    <div class="copy-message-header">Copy</div>
    <div class="copy-content">Success!</div>
</div>
<script src="ag.js"></script>
