<% layout('base') %>

<h1>Here's some fun for you 🤓</h1>
<div class="YouHold">
    <div class="YouBase">
        <div class="YouT" id="player"></div>
        <script src="fun.js"></script>
        <div class="YouB"></div>
    </div>
</div>
<hr>