<% layout('base') %>

<h1>And here's some "contact" information.</h1>
<div class="tg-discord-holder">
    <div class="Telegram">
        <a><img class="arrow" src="..\image/arrow.gif">Telegram: @TheHeartOfAkatosh<img class="arrow reverse" src="..\image/arrow.gif"></a>
    </div>
    <div class="Discord">
            <a><img class="arrow" src="..\image/arrow.gif">Discord: @thoakatosh<img class="arrow reverse" src="..\image/arrow.gif"></a>
    </div>
</div>
<div class="linesHold">
    <button onclick="window.open('https://steamcommunity.com/id/burmalda_1337', '_blank').focus()" class="buttons">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">1st Steam<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/steam.png">
    </button>
    <button onclick="window.open('https://open.spotify.com/user/31rwgykqxojdwgygy7sz7urxcx6a', '_blank').focus()" class="buttons">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">Spotify<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/spotify.png">
    </button>
    <button onclick="window.open('https://steamcommunity.com/id/burmalda_1338', '_blank').focus()" class="buttons">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">2nd Steam<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/steam.png">
    </button>
    <button onclick="window.open('https://github.com/THOAkatosh', '_blank').focus()" class="buttons">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">1st GitHub<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/github.png" style="filter: drop-shadow(0 0px 2px rgba(182, 219, 251, 0.73));">
    </button>
    <button onclick="window.open('../error', '_blank').focus()" class="buttons easter">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">Free DDR5<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/turbohero.png">
    </button>
    <button onclick="window.open('https://github.com/statosh', '_blank').focus()" class="buttons">
        <a class="linktext"><img class="arrow" src="..\image/arrow.gif">2nd GitHub<img class="arrow reverse" src="..\image/arrow.gif"></a>
        <img class="button-icon" src="image/github.png" style="filter: drop-shadow(0 0px 2px rgba(182, 219, 251, 0.73));">
    </button>
</div>
<hr>
<div class="copy-message">
    <div class="copy-message-header">Copy</div>
    <div class="copy-content">Success!</div>
</div>
<script src="./socials.js"></script>