<% layout('base') %>

<h1>Welcome to The Grand Sus</h1>
<p>You've came upon the site of <b>self-taught</b> Junior to Mid front-end developer, who's also learnt Python for a while, Java and Kottlin (mainly in Android Studio) a bit of C++ and C# including WPF and Windows Forms with a fraction of ADO.NET, had some exprerience with Lua (GLua) <b>and who knows how to write prompts for an AI 👀</b>.</p>
<h2>Name Certificate</h2>
<div class="nameHold">
    <div class="nameText">
        <p><b>#Akatosh #TES #TheElderScrolls #Skyrim #Oblivion #Morrowind</b></p>
    </div>
    <div class="nameBadge">
        <a href="https://mynickname.com/THOAkatosh">
            <img src="https://mynickname.com/img.php?id=1666365&sert=1"/>
        </a>
    </div>
</div>
<hr>