<% layout('base') %>

<h1>ūü•ÄThe Brain Rot Preparationūü•Ä</h1>
<div id="list_holder">
    <script src="viewer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="wish-boards.js"></script>
</div>
<hr>