<% layout('base') %>

<h1>ūü•ÄThe Brain Rot Preparationūü•Ä</h1>
<div id="sortHolder">
    <input placeholder="Search">
    <div id="brandSortButton">Sort: OFF</div>
</div>
<div id="listHolder">
    <script src="viewer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="boards.js"></script>
</div>
<hr>