:root {
    --color-lighterer-blue: rgb(192, 217, 250);
    --color-lighter-blue: #8cacdf;
    --color-light-blue: #6488dd;
    --color-blue: #1447ae;
    --color-text: #3366FF;
    --color-list-bg: #edf2fb;
    --color-text-highlight: #000080;
}

.server-holder {
    display: grid;
    margin: 0 auto;
    max-width: 768px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.server-preview {
    width: 100%;
    border-radius: 7px;
}

.linktext {
    display: flex;
    font-size: 10pt;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    margin-bottom: 10px;
    user-select: none;
    color: var(--color-text-highlight);
}

.linktext:hover {
    cursor: pointer;
}

.linktext .arrow {
    scale: 90%;
    transition: margin 300ms;
}

.linktext .arrow.reverse {
    scale: -90% 90%;
    transition: margin 300ms;
}

.linktext.inactive {
    color: gray;
    cursor: not-allowed;
}

.linktext.inactive img {
    filter: grayscale(100%);
}

.linktext span {
    display: none;
}

.playag {
    display: flex;
    width: 350px;
    margin-bottom: 20px;
    transition: all 2.5s;
}

.playag img {
    width: 100%;
    border-radius: 7px;
}

.playag:hover {
    width: 100%;
    transition: all 30s linear;
}

.copy-message {
    display: none;
    position: absolute;
    top: 15px;
    right: -400px;
    width: 100px;
    height: 50px;
    background-color: var(--color-list-bg);
    transition: all 300ms;
}

.copy-message-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    padding-left: 5px;
    font-size: 9pt;
    font-weight: bolder;
    color: white;
    background-color: var(--color-blue);
}

.copy-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10pt;
    width: 100%;
    height: calc(100% - 20px);
    color: var(--color-text);
    border: 1px solid var(--color-blue);
}

.copy-message.show {
    display: block;
    right: 15px;
    transition: all 300ms;
}