
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --image-small: 16;
  --image-big: 32;
}

/* @media screen and (min-width: 990px) { */

  .nbody {   
    box-shadow: inset 0 0 4dvh 4dvh #000000eb;
  }

  #list_holder {
    display: grid;
    justify-content: center;
    justify-items: center;
    
    grid-template-columns: repeat(3, 0fr);

    padding: 70px 20px 20px 20px;

    width: fit-content;
    height: 700px;

    backdrop-filter: blur(5px);

    border-radius: 10px;
    background-color: #0000009a;

    box-shadow: 0 0 5px 5px #0000009a;

    overflow: scroll;
  }

  #list_holder::-webkit-scrollbar { 
    display: none;
  }

  .title {
    z-index: -2;
    top: 12px;
  }

  .board {
    margin: 10px;
    display: inline-flex;
    flex-direction: column;
  }

  .imgcontainer {
    margin: 10px 0 10px 0;
    width: calc(16px * var(--image-small));
    height: calc(9px * var(--image-small)); 
    box-shadow: 
        0 0 3px 3px rgba(255, 255, 255);
    transition-duration: 0.3s;
  }

  .imgcontainer:hover {
    cursor: pointer;
    filter: opacity(0.75) saturate(0.7);
    transition-duration: 0.3s;
  }

  .board > .imgcontainer > img {
    position: relative;
    z-index:-1;
    margin: 0;    
    width: calc(16px * var(--image-small));
    height: calc(9px * var(--image-small)); 
  }

  .board > a {margin-left: -2px; color:"#b4a7d6"; font-weight: bold; font-family: "Ubuntu";}

/* } */

/* 
##############################################
##############################################
############################################## 
*/

/* @media screen and (max-width: 990px) {

    

}  */